@font-face {
  font-family: 'cavortingregular';
  src: font-url('cavorting-webfont.woff2') format('woff2'),
       font-url('cavorting-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gunny_rewrittenregular';
  src: font-url('gnyrwn971-webfont.woff2') format('woff2'),
       font-url('gnyrwn971-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'claire_handlight';
  src: font-url('clairehandlight-webfont.eot');
  src: font-url('clairehandlight-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('clairehandlight-webfont.woff2') format('woff2'),
       font-url('clairehandlight-webfont.woff') format('woff'),
       font-url('clairehandlight-webfont.ttf') format('truetype'),
       font-url('clairehandlight-webfont.svg#claire_handlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'claire_handregular';
  src: font-url('clairehandregular-webfont.eot');
  src: font-url('clairehandregular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('clairehandregular-webfont.woff2') format('woff2'),
       font-url('clairehandregular-webfont.woff') format('woff'),
       font-url('clairehandregular-webfont.ttf') format('truetype'),
       font-url('clairehandregular-webfont.svg#claire_handregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'claire_handbold';
  src: font-url('clairehandbold-webfont.eot');
  src: font-url('clairehandbold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('clairehandbold-webfont.woff2') format('woff2'),
       font-url('clairehandbold-webfont.woff') format('woff'),
       font-url('clairehandbold-webfont.ttf') format('truetype'),
       font-url('clairehandbold-webfont.svg#claire_handbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CodenameCoder-Bold';
  src: font-url('CodenameCoder-Bold.eot');
  src: font-url('CodenameCoder-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('CodenameCoder-Bold.woff2') format('woff2'),
       font-url('CodenameCoder-Bold.woff') format('woff'),
       font-url('CodenameCoder-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Card';
  src: font-url('cardfont.eot');
  src: font-url('cardfont.eot?#iefix') format('embedded-opentype'),
       font-url('cardfont.woff2') format('woff2'),
       font-url('cardfont.woff') format('woff'),
       font-url('cardfont.ttf') format('truetype'),
       font-url('cardfont.svg#card_characters_narrow_figuRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
