@import "bootstrap";
@import "font-awesome";
@import 'config/*';

$base-blue: #3D94F6;
$blue-1: lighten($base-blue, 45%);
$blue-2: lighten($base-blue, 25%);
$blue-3: $base-blue;
$blue-4: darken($base-blue, 25%);
$blue-5: darken($base-blue, 50%);

$danger: #F6433D;
$grey-blue: #6481A1;
$grey-light: #ECF0F1;
$grey-disabled: #BDC3C7;
$grey-dark: #34495E;

$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;

$dpl-purple: #8168B1;
$facebook-blue: #3B5998;
$github-black: black;



body{
  background: rgba(0,0,0,0.9);
  color: rgb(200,200,200);
  #particles-js {
    height: 100%;
    width: 100%;
  }
}

.welcome-div{
  text-align: center;
  // font-family: 'Source Code Pro', monospace;
  font-family: 'Press Start 2P', cursive;
  h1{
    font-family: 'Source Code Pro', monospace;
    margin-top: 50px
  }
  margin-top: 0;
  margin-bottom: 20px;
  .main-row-content{
    // height: 800px;
  }
  .start-particle{
    height: 130px;
  }
  .adventure-choice{
    margin-top: 30px;
    height: 275px;
    width: 440px;
    border: 4px solid white;
    a:hover{
      svg path{
        fill: #FC195B;
      }
    }
  }
}

.main-banner{
  margin:0;
  height:130px;
  width: 100%
  overf
}

.main{

  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;



  // font-family: 'CodenameCoder-Bold', monospace;
  font-family: 'Open Sans', sans-serif;
  .portfolio-wrapper {
    position: absolute;
    padding-top: 250px;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    // float: center;
    margin:0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .portfolio-container {
      text-align: center;
      margin-bottom: 100px;

      h1 {
        // font-family: 'Open Sans', sans-serif;
        font-family: 'Source Code Pro', monospace;
        margin-top: 0;
        margin-bottom: 20px;

        // text-transform: uppercase;
        font-size: 64px;
      }
      p:last-of-type {
        margin-bottom: 0;
        overflow: hidden;
      }
      .portfolio-btns {
        padding-top: 10px;

        font-family: 'Press Start 2P', cursive;
        a:hover {
          color: #FC195B;
        }
        a {
          display: inline-block;
          position: relative;
          transition: all 0.17s ease-out;

          // height: 40px;
          // width: 40px;
          // margin: 0 5px;
          // line-height: 40px;

          border: 4px solid white;
          // border-style: dashed;

          // color: $blue-4;

          color: #FC7E00;
          text-align: center;
          font-size: 28px;
          width: 60%;
         text-decoration: none;
        }
      }

      .start-div-wrapper{

        // float: center;
        margin-top: 600px;

        display: flex;
        justify-content: center;
        align-items: center;

        .start-div-container {
          text-align: center;
          margin-bottom: 100px;

          h1 {
            // font-family: 'Open Sans', sans-serif;
            // font-family: 'Source Code Pro', monospace;
            font-family: 'Press Start 2P', cursive;
            margin-top: 0;
            margin-bottom: 20px;

            // text-transform: uppercase;
            font-size: 64px;
          }

        }
    }
    }
  }

  // ################################################################
  // ################################################################
  // ################################################################
  // ################################################################
  // ################################################################
  // ################################################################



}

#calculator{
  margin-top: 40px;
  border: 4px solid white;
  font-family: 'Press Start 2P', cursive;
  .calc_screen{
    height: 30px;
    background-color: #00c1fc;
  }
  .number-button{
    border: 2px solid white;
    text-align: center;
    height: 80px;
  }
  h3{
    top:0;
    bottom:0;
    margin-top: 20px;
    &:hover{
      color: #FC195B;
    }
  }
}


//####################################################
// React stuff
// ##############################################################################



// ol, ul {
//   padding-left: 30px;
// }

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  font-family: 'Press Start 2P', cursive;
  background: rgba(0,0,0,0.8);
  border: 1px solid #00c1fc;
  color: #00c1fc;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  &:hover{
    background: #FC195B;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #fff;
}

.game {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.game-info {
  margin-left: 20px;
}

.playground-particles{
  height: 150px;
}

.playground{
  font-family: 'Source Code Pro', monospace;
  .tools{
    padding-top: -80px;
    padding-bottom: 200px;
    .tool{
      text-align: center;
      padding-top: 100px;
    }
  }
  .skill-box {
      // border: 4px solid #FC195B;
      border: 4px solid rgba(255,255,255,0.4);
      border-top: none;
      padding-top: 30px;
      .skill{
      height: 130px;
      margin-bottom: px;
      &:hover{
        color: #FC195B
      }
      .skill-bar{
        height: 50px;
        width: 100%;
        border-radius: 10px;
      }
      .deep-learning{
        // background-color: rgba(11,121,229, 1);

          background-color: rgba(13,254,178, 0.7);
        // background-color: #FC823F;
      }
      .web-development{
        background-color: rgba(11,229,222, 0.8);
      }
      .a-i{

        background-color: rgba(252,130,63, 0.8);
      }
      .data-science{
        // background-color: #FC195B;
        background-color: #3C5296;
      }
    }
  }
  .buttons{
    border-bottom: 4px solid #FC195B;
    button{
      height: 40px;
      background-color: rgba(0,0,0,0.95);
      color: #00c1fc;
      border: 0px;
      &:focus{outline: none;}
      &:hover{
        border: 0px solid black;
        // color: #FC195B;
        // background: #FC7E00;

        background: #FC195B;
        color: #FC7E00;

      }
    }
  }
}
